name: Model Hub CLI Deploy

on:
  workflow_run:
    workflows: ["Model Hub CLI CI/CD"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'
        cache: 'pip'

    - name: Verify Docker
      run: docker --version

    - name: Install SAM CLI
      run: |
        python -m pip install --upgrade pip
        pip install aws-sam-cli

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/GitHubActionsOIDC
        aws-region: us-east-2

    - name: SAM build
      run: sam build --use-container

    - name: SAM deploy
      run: |
        sam deploy --no-confirm-changeset --no-fail-on-empty-changeset \
          --stack-name model-hub-api \
          --parameter-overrides Environment=prod \
          --capabilities CAPABILITY_IAM \
          --resolve-s3
